* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "KaushanReg";
  src: url("../fonts/Kaushan-Regular.ttf");
}

@font-face {
  font-family: "LatoReg";
  src: url("../fonts/Lato-Regular.ttf");
}

.container {
  width: 800px;
  margin: auto;
}

.back-blur {
  filter: blur(5px);
}

.logo-gram {
  font-family: "KaushanReg";
  font-size: 90px;
  line-height: 1;
}

.seperator {
  display: block;
  border-bottom: 2px solid #888;
}

.seperator.s {
  width: 30px;
  margin: 10px auto;
}

#navbar .container {
  font-family: LatoReg;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#navbar .logo-gram {
  width: 100%;
  margin: 10px 0 0;
}

#navbar .text {
  width: 100%;
  opacity: 0.8;
  letter-spacing: 2px;
  font-size: 12px;
}

#navbar .l2 {
  font-size: 18px;
  margin: 5px 0 8px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

#footer {
  padding: 20px 0 30px;
  text-align: center;
  font-family: LatoReg;
  opacity: 0.5;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 100px;
}

#menuHandle {
  position: fixed;
  top: 5vh;
  right: 5vw;
  display: flex;
  font-family: LatoReg;
  align-items: center;
  z-index: 99;
}

#menuHandle .menu {
  padding-right: 10px;
  opacity: 0;
  transition: all .3s ease;
  color: #ddd;
}

#menuHandle .menu > ul {
  display: flex;
}

#menuHandle .menu > ul > li > a {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 0px 0 5px;
  max-width: 0;
  opacity: 0;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}

#menuHandle .menu .sub-menu {
  position: absolute;
  padding: 5px 0;
  width: 300px;
  margin-top: 10px;
}

#menuHandle .menu .sub-menu > li > a {
  display: inline-block;
  font-size: 14px;
  margin-top: 4px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

#menuHandle .menu .sub-menu > li > a:before {
  content: "-";
  display: inline-block;
  padding-right: 5px;
  transform: scaleY(0.9) scaleX(0.65);
}

#menuHandle .menu .sub-menu > li > a:hover {
  border-bottom: 1px solid #777;
}

#menuHandle .line-box {
  width: 36px;
  cursor: pointer;
  transition: all 1s ease;
}

#menuHandle .line-box .lines {
  border: 2px solid black;
  margin: 4px;
  position: relative;
  top: 0;
}

#menuHandle .line-box:hover {
  opacity: 0.6;
}

#menuHandle.active .menu {
  opacity: 1;
}

#menuHandle.active .menu > ul > li > a {
  max-width: 250px;
  margin-right: 70px;
  opacity: 1;
}

#menuHandle.active .menu > ul > li > a:hover {
  opacity: 0.8;
  border-bottom: 1px solid #777;
}

#menuHandle.active .line-box {
  background: transparent;
}

#menuHandle.active .line-box .lines {
  border: 2px solid #888;
  transition: all .3s ease;
}

#menuHandle.active .line-box #line1 {
  transform: rotateZ(45deg);
  top: 8px;
}

#menuHandle.active .line-box #line2 {
  opacity: 0;
}

#menuHandle.active .line-box #line3 {
  transform: rotateZ(-45deg);
  top: -8px;
}

#globalFader {
  opacity: 0;
  background: black;
  z-index: -1;
  transition: all .6s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#globalFader.active {
  opacity: 0.75;
  z-index: 98;
}

#parentContainer {
  padding-top: 60px;
  min-height: 80vh;
}

#universalHeader {
  font-family: LatoReg;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

#gallerySection .gallery-module {
  margin: 30px 0;
  width: 100%;
}

#gallerySection .gallery-module img {
  width: 100%;
  display: block;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.dropdown-box {
  border: 1px solid #ddd;
  padding: 5px;
  outline: none;
  margin-left: 5px;
  border-radius: 3px;
}

#videoGallery {
  font-family: LatoReg;
}

#videoGallery .container {
  display: flex;
  flex-wrap: wrap;
}

#videoGallery .filter-box {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

#videoGallery .video-module {
  width: 100%;
  display: flex;
  margin: 10px 0;
  background: white;
  transition: all .3s ease;
  padding: 5px;
  cursor: pointer;
}

#videoGallery .video-module:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#videoGallery .video-thumb {
  width: 45%;
  position: relative;
}

#videoGallery .video-thumb img {
  width: 100%;
  display: block;
  filter: grayscale(0.5);
}

#videoGallery .video-thumb .video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaa;
  padding: 3px;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}

#videoGallery .video-details {
  width: 55%;
  padding-left: 15px;
  position: relative;
}

#videoGallery .video-details .group {
  width: 100%;
}

#videoGallery .video-details .video-name {
  font-size: 22px;
  color: #111;
}

#videoGallery .video-details .video-uploader {
  font-size: 14px;
  color: #545454;
  padding: 10px 0;
}

#videoGallery .video-details .video-gear {
  font-size: 13px;
  color: #545454;
}

#videoGallery .video-details .video-functions {
  display: flex;
  font-size: 13px;
  color: #343434;
  position: absolute;
  bottom: 10px;
}

#videoGallery .video-details .video-functions .function-group {
  margin-right: 10px;
}

#videoDetail {
  font-family: LatoReg;
}

#videoDetail .container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  align-items: flex-start;
  justify-content: space-between;
}

#videoDetail .video-module {
  width: 800px;
  display: flex;
  background: white;
  flex-wrap: wrap;
}

#videoDetail .video-thumb {
  width: 100%;
  position: relative;
}

#videoDetail .video-thumb img {
  width: 100%;
  display: block;
}

#videoDetail .video-thumb .video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaa;
  padding: 3px;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}

#videoDetail .video-details {
  width: 100%;
  padding-top: 15px;
}

#videoDetail .video-details .video-name {
  font-size: 22px;
  color: #111;
}

#videoDetail .video-details .video-uploader {
  padding: 10px 0;
  font-size: 14px;
  color: #545454;
}

#videoDetail .video-details .video-functions {
  display: flex;
  font-size: 13px;
  color: #343434;
}

#videoDetail .video-details .video-functions .function-group {
  margin-right: 10px;
}

#related-videos {
  width: 380px;
}

#related-videos .title {
  font-family: LatoReg;
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

#related-videos .related-video-module {
  width: 100%;
  margin: 5px 0 10px;
  display: flex;
}

#related-videos .related-video-module .video-thumb {
  width: 50%;
  position: relative;
}

#related-videos .related-video-module .video-thumb img {
  width: 100%;
  display: block;
  filter: grayscale(0.5);
}

#related-videos .related-video-module .video-thumb .video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #aaa;
  padding: 3px;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}

#related-videos .related-video-module .video-details {
  width: 50%;
  position: relative;
  padding: 0px 0px 0 10px;
}

#related-videos .related-video-module .video-details .group {
  width: 100%;
}

#related-videos .related-video-module .video-details .video-name {
  font-size: 14px;
  color: #111;
}

#related-videos .related-video-module .video-details .video-uploader {
  font-size: 13px;
  color: #545454;
}

.form-title {
  font-size: 22px;
  width: 100%;
  text-align: center;
  font-family: LatoReg;
}

.outline-form {
  font-family: LatoReg;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0px 15px 20px;
}

.outline-form .form-caption {
  padding: 5px;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.outline-form .form-group {
  display: flex;
  padding: 5px;
  align-items: flex-end;
  width: 100%;
  font-size: 14px;
  flex-wrap: wrap;
}

.outline-form .form-group .caption {
  width: 100%;
  padding-bottom: 5px;
  color: #666;
  font-size: 14px;
}

.outline-form .form-group.w50 {
  width: 50%;
}

.outline-form .form-input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 10px;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  color: #222;
}

.outline-form .form-button {
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  color: #222;
  background: #eee;
  cursor: pointer;
  border: 1px solid #ddd;
}

.outline-form .form-input:focus {
  border: 1px solid #bababa;
}

.outline-form .form-input.w30 {
  width: 20%;
  margin-right: 1%;
}

.outline-form .form-input.w70 {
  width: 79%;
}

.outline-form .form-group.center {
  margin: auto;
}

.outline-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
  font-size: 12px;
}

.outline-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  font-size: 12px;
}

.outline-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
  font-size: 12px;
}

.outline-form :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  font-size: 12px;
}

.outline-form .help-link {
  text-align: center;
  width: 100%;
  margin: 20px 0;
  font-size: 13px;
  color: #888;
}

.outline-form .help-link a {
  display: inline-block;
  text-decoration: underline;
}

#entryGuide {
  font-family: LatoReg;
}

#entryGuide .container {
  border: 1px solid #ddd;
  padding: 20px 10px;
  border-radius: 5px;
}

#entryGuide .header {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}

#entryGuide .step-module {
  padding: 15px;
  margin: 10px 0;
}

#entryGuide .step-module a {
  text-decoration: underline;
}

#entryGuide .step-module .step {
  font-size: 18px;
  color: #222;
  border-bottom: 1px solid #aaa;
  padding: 0px 5px 13px;
}

#entryGuide .step-module .paragraph {
  font-family: Calibri;
  font-size: 17px;
  padding: 10px 5px 0;
  color: #111;
  line-height: 1.5;
}

#entryGuide ul {
  padding-top: 8px;
}

#entryGuide ul li {
  color: #555;
  font-size: 14px;
  padding: 2px 0;
}

#entryGuide ul li:before {
  content: "*";
}
